
*.pdb
*.json
*.exe
*.dll
meslissaProject1/.vs/meslissaProject1/v16/.suo
meslissaProject1/.vs/*
meslissaProject1/melissaProject1/bin/*
meslissaProject1/melissaProject1/obj/*
*.cache
*.targets
*.editorconfig
*.props
meslissaProject1/meslissaProject1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
meslissaProject1/meslissaProject1/obj/Debug/net5.0/meslissaProject1.AssemblyInfo.cs
meslissaProject1/meslissaProject1/obj/Debug/net5.0/meslissaProject1.csproj.FileListAbsolute.txt
meslissaProject1/meslissaProject1/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
meslissaProject1/meslissaProject1/obj/Release/net5.0/meslissaProject1.csproj.FileListAbsolute.txt
melissaProject2/melissaProject2/obj/Release/net5.0/melissaProject2.csproj.FileListAbsolute.txt
melissaProject2/.vs/melissaProject2/v16/.suo
